@page
@model chat.Pages.DialogModel
<div class="text-center">
    @{
        if(Model.messages is not null)
            foreach (var message in Model.messages)
            {
                <P>@message.Content</P>
            }
    }
    <form method="post">
        <input type="text", asp-for="NewMessageContent">
	    <button class="btn btn-primary">Send</button>
	    <p>Your Tag: @Model.userLoginned?.Tag</p>
        <button asp-page-handler="Back">Back</button>
    </form>
</div>