@page
@model chat.Pages.RegisterPageModel
@{
}
<div class="text-center">
    <h1 class="display-4">Creating account</h1>
    <p>@Model.LoginMesage</p>
    <form method="post">
        <p>
            Username: <input type="text" , asp-for="userTag">
        </p>
        <p>
            Password: <input type="text" , asp-for="userPassword">
        </p>
        <p>
            Confirm password: <input type="text" , asp-for="userPasswordConfirm">
        </p>
        <button class="btn btn-primary">Register</button>
        <button class="btn btn-secondary" asp-page-handler="Back">Back</button>
    </form>
</div>